<section class="full">
	<gameboard></gameboard>

	<!-- content layer placed over gameboard -->
	<button class="button button-outline pause" ng-click="onPauseTap()">|&nbsp;|</button>
	<section class="score">{{score}}</section>
	
		<a id="start" class="button ion-volume-medium"></a>
		<a id="stop" class="button ion-volume-mute"></a>
		
		<a href="#" id="back" class="button icon-left ion-chevron-left button-clear button-dark"></a>
		
	<section class="countdown full" ng-if="showCountdown"><span>{{countdown}}</span></section>
</section>


